<!-- Purpose: To provide exclusive content only available if the user is logged in and has a valid subscription -->
{{>header}}

<h3>My Downloads</h3>

<p>We're not actually going to put anything here - we just want to demonstrate access to content</p>

{{>footer}}