<!-- Purpose: To provide users a place to land after they login -->
{{>header}}

<h3>Dashboard</h3>

<div class="grid-x">
    
    <div class="cell small-12">Welcome {{user.name}}!</div>

</div>

{{>footer}}